{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/questions/place_type" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          How many children will you look after?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            How many children will you look after?
          </legend>

          <label class="form-label" for="full-name-f1">Number of children</label>
          <input class="form-control form-control-1-8" id="full-name-f1" type="text" name="number_of_children">

          <br>
          <br>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
