{% extends "layout_guidance.html" %}

{% block page_title %}
  Design pattern: applying for the right thing
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge"><span class="design-pattern">Design pattern
		  <br></span>Check before you start:<br>
		  how to reuse
		  </h1>

	    <p class="lede">
			Help users understand whether they should use your service before they start, so that they don’t waste time and effort
	    </p>

	    <p class="lede">
			If you do this well, you’ll improve user satisfaction and reduce unnecessary calls and applications to your service team.
	    </p>

		<br>

		<p class="design-update">
		Last updated: 29 June 2016
		</h3>

		<br>
		<br>

	</div>
</div>

<div class="grid-row">
    <div class="column-one-third">

	<ol class="list list-number pattern_nav">
		<li><a href="#1">Read and mark the regulations</a></li>
		<li><a href="#2">List key verbs and nouns</a></li>
		<li><a href="#3">Analyse past applications</a></li>
	</ol>
	
	</div>

	<div class="column-two-thirds">

	<h3 class="heading-medium services-using-pattern-title">
		1. Read and mark the regulations
	</h3>
		
		<p>Users have to read tens of pages of guidance just to learn if they: need to fill out a form; which form(s) to fill out; what information to put in these forms. Users should not have to learn how a service works. It should be as obvious as possible.</p>

		<p>Michael, Maria and I went through all the regulations, rules, legislation.</p> 

		<p>All of them:</P>

		<p>‘exclusions’, ‘exemptions’, ‘permits’, ‘bespoke permits’. The user doesn’t see these are separate, just the rules. Users try to follow rules, as they don’t want to get in trouble with government.</p> 

		<p>We separated ‘decisions rules’ from ‘conduct rules’:</p>

		<p>Decision rules say what type of permission a user needs.
		Conduct rules are what a user can and cannot do once they have permission. These are typically called conditions.</p>

		<p>We separated decision rules into two types:</p>

		<p>Things users can answer e.g. are you building a bridge?<br>
		Things data can answer e.g. are you working on a main river?</p>

		<p>This meant will mark three types of information in the regulation. Each getting a colour.</p>

		<ul class="list list-bullet">
			<li>Blue = decision rules answered by the user</li>
			<li>Purple = decision rule answered by data</li>
			<li>Brown = conduction rules or ‘conditions’</li>
		</ul>

	<hr>

	<h3 class="heading-medium services-using-pattern-title" id="1">
		2. List key verbs and nouns
	</h3>

		<p>Next Michael wrote down the key verbs from each section of the regulations:</p>

		<ul class="list list-bullet">
			<li>Things users do (verbs)</li>
			<li>Things users do things to (nouns)</li>
		</ul>

		<p>List of verbs:</p>

		<div class="grid-row">
		    <div class="column-one-half">

				<ul class="list list-bullet">
					<li>Erect</li>
					<li>Install</li> 
					<li>Place</li>
					<li>Clean</li>
					<li>Construct</li>
					<li>Remove</li>
					<li>Dewater</li>
					<li>Dredge</li>
					<li>Maintain</li> 
					<li>Excavate</li>
					<li>Improve</li>
					<li>Repair</li>
				</ul>
			
			</div>

			<div class="column-one-half">

				<ul class="list list-bullet">
					<li>Raised river or sea defences</li>
					<li>Channel structures</li> 
					<li>drinking bays</li>
					<li>culverts</li>
					<li>outfalls</li>
					<li>electrical cable</li>
					<li>habitat structures</li>
					<li>gravel</li>
					<li>stones</li> 
					<li>Silt and sand</li>
					<li>spoil</li>
					<li>Ditches</li>
					<li>Land drains</li>
					<li>Agricultural drains</li>
					<li>Watercourses</li>
					<li>Fish passages notches</li>
					<li>Footbridges</li>
					<li>Scaffolding</li>
					<li>Eel passes</li>
					<li>Dewatering structures</li>
					<li>Riverbanks</li>
					<li>Wildlife refuge structures</li>
					<li>Tracks and paths</li>
					<li>Scrapes</li>
					<li>Dewatering areas</li>
				</ul>
			
			</div>
		</div>

		<p>List nouns: Raised river or sea defences, channel structures, drinking bays, culverts, outfalls, electrical cable, habitat structures, service crossings, survey rafts, gravel, stone+logs, silt+sand, spoil, ditches, land drains, agricultural drains, previously-straightened watercourses, fish passage notches, footbridges, scaffolding, eel passes, dewatering structures, riverbanks, wildlife refuge structures, tracks+paths, scrapes, dewatering areas.</p>

		<hr>

		<h3 class="heading-medium services-using-pattern-title" id="3">
			3. Analyse past applications
		</h3>

		<p>Duncan went through hundreds of past applications. He did this for two reasons:</p>

				<ol class="list list-number">
					<li>Learn the language users use to describe their activities</li>
					<li>Learn the most to least common activities users do</li>
				</ol>

		<hr>

		<h3 class="heading-medium services-using-pattern-title" id="4">
			4. Group verbs and nouns into types
		</h3>

		<p>Knowing the language users use, allowed Michael and I to group the verbs and nouns into types users might recognise:</p>

		
		<p>Grouping words:</p>


			<ul class="list list-bullet">
				<li>Emergencies</li>
				<li>Building</li>
				<li>Maintaining</li>
				<li>Wildlife</li>
				<li>Scaffolding and ladders</li>
				<li>Cables and wires</li>
				<li>Removing silt, sand and gravel</li>
				<li>Draining</li>
			</ul>

		<hr>

		<h3 class="heading-medium services-using-pattern-title" id="5">
			5. Write questions
		</h3>

		<p>Having groups and some understanding of language users use, meant Michael could attempt writing routing questions. These questions are far from perfect, but they’re to test our concept with users.</p>

		<p>Example question:</p>

		<p class="lede">'Are you building a new structure on, in, next to, or across a river?'</p>

		<p>This questions includes 11 'exclusions', 'exemptions' and 'permits', which cover by a single questions, reducing the number of questions a user having to answer overall.</p>

		<hr>

		<h3 class="heading-medium services-using-pattern-title" id="6">
			6. Make the phone script first s
		</h3>

		<p>The first version of the routing questions was a phone script. Maria wrote it and Michael iterated the wording of each question. This allowed us to quickly test our logic. Only after Rob has tested the script with real users over the phone, did I make the digital version of routing questions.</p> 

		<hr>

		<h3 class="heading-medium services-using-pattern-title" id="7">
			7. Phone testing
		</h3>

		<p>Rob tested the phone-script with a construction consultant and an environmental manager at Gatwick Airport.</p>

		<p>These are the key take outs:</p>

		<h4 class="heading-small">Both people sought further clarity on certain questions.</h4>
		<p>“How do I find out whether a river is a salmonid river?” 
		“How do I know if my work will have an adverse effect on species/habitats?”
		“Where is the height measured from - the river base, from the river bed? 
		Is it the lowest point of the river bed or the adjacent point of the river bed?”</p>

		<h4 class="heading-small">
		Rationale behind certain stipulations is unclear..
		<h4>
		<p>“The works are not carried out in or within 100 metres -
		That one is going to be a challenge in its own right. One, how are you going to police that? Where does that number come from? If there was something to back that up i could understand it. 50 metres I could understand but 100 metres seems excessive. I would expect more than 10 metres and less than 50. You could be working on the River Thames, Severn, Ouze it does take away the opportunity to go in there and carry out works under an exemption. You’re going to be tangling yourself up with more twine.”</p>

		<hr>

		<h3 class="heading-medium services-using-pattern-title" id="8">
			8. Not one big decision tree, lots of little ones
		</h3>

		<p>Turning legislation straight into software doesn’t have a good history.</p>

		<p>To account for all the situations or activity users do, the logic of law is literally made into a massive, single decision tree. This results in hundreds of ‘hard coded’ links and pages. These bespoke bits of software are not reusable. Also as soon as legislation changes, they become worthless and have to be thrown away.</p>

		<p>To try avoid this, we decided to make lots of little decision trees. One for bridges, one for scaffolding, one for cables and so on. Each is separate. This means when legislation on bridges changes for example, we only need to change the questions about bridges.</p>

		<p>Each sets of questions carries a value (exclusion, exemption, permit) depending how a user answers. The user goes through each set of questions (from most common to less common) . We limit the questions users have to answer, by having a yes/no question at the beginning of each set. For example ‘Are you building a bridge?’, if the answer is ‘no’, the users isn’t ask any more questions about bridges and more onto the next set.</p>

		<p>A user will often not just be doing something with a bridge. They might be using scaffolding too. Users going through all sets of questions, allows this to be built into the routing. The value from each set is stored in the browser. These then tell the result page what to show: ‘you don’t need permission’, ‘register details’, ‘apply for a permit.’</p>

		<hr>

		<h3 class="heading-medium services-using-pattern-title" id="9">
			9. Lab testing
		</h3>

		<p>Something to write</p>

		<hr>

		<h3 class="heading-medium services-using-pattern-title" id="10">
			10. Test with policy for accuracy
		</h3>

		<p>Something to write</p>


    </div>
  </div>

</main>

{% endblock %}


