{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/questions/care_time_per_day" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Will you be paid?
        </h1>

        <p>What you need to do to become a childminder will vary depending on:</p>

        <ul class="list list-bullet">
          <li>whether you're paid or not</li>
          <li>how much you're paid</li>
        </ul>

        <fieldset>
          <legend class="visuallyhidden">
            Will you be paid?
          </legend>

          <div class="form-group">
            <label for="will_you_be_paid-1" class="block-label">
              <input type="radio" id="will_you_be_paid-1" name="will_you_be_paid" value="yes">
              Yes
            </label>

            <label for="will_you_be_paid-2" class="block-label">
              <input type="radio" id="will_you_be_paid-2" name="will_you_be_paid" value="no">
              No
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
