{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/questions/will_you_be_paid" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Do you have a criminal record?
        </h1>

        <p>
          This does not including driving offences such as speeding tickets and parking fines.
        </p>

        <p>
          Your criminal history will be checked before you can become a childminder.
        </p>

        <fieldset>
          <legend class="visuallyhidden">
            Have you had a prison sentance lasting three years or more?
          </legend>

          <div class="form-group">
            <label for="criminal_history_1" class="block-label">
              <input type="radio" id="criminal_history_1" name="criminal_history" value="yes">
              Yes
            </label>

            <label for="criminal_history_2" class="block-label">
              <input type="radio" id="criminal_history_2" name="criminal_history" value="no">
              No
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
