{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/questions/related_to_child" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Do you want to look after children for more than 2 hours per day?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Will you look after the child for more than 2 hours per day?
          </legend>

          <div class="form-group">
            <label for="care_time_per_day-1" class="block-label">
              <input type="radio" id="care_time_per_day-1" name="care_time_per_day" value="more_than_two_hours">
              Yes
            </label>

            <label for="care_time_per_day-2" class="block-label">
              <input type="radio" id="care_time_per_day-2" name="care_time_per_day" value="less_than_two_hours">
              No
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
