{% extends "layout.html" %}

{% block page_title %}
  Product: GOV.UK Frontend
{% endblock %}

{% block content %}

<body id="product-style">

<main id="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">shared products</a>
    </li>
    <li>
      GOV.UK Frontend
    </li> 
  </ol>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">GOV.UK Frontend
      </h1>

      <p class="lede"> 
        GOV.UK Frontend is the code to build services that look and work like GOV.UK
      </p>

    <br>

    <a class="button button-start" href="#" role="button" style="background-color: #fff; color: #005EA5;">Get started</a>

    <br>
    <br>

    <p class="design-update">
      Last updated: two weeks ago
    </h3>
    
    <br>

  </div>
</div>

<div class="grid-row">

      <div class="column-two-thirds">

      <h3 class="heading-medium" id="1">Benefits of GOV.UK Frontend</h3>

      <p>You should use GOV.UK Frontend because it makes it simpler, faster, easier to build services that meet user needs.</p>

      <p>It also means you can:</p>

      <ul class="list list-bullet">
        <li>meet GOV.UK standard</li>
        <li>use code that is supported</li>
        <li>spend less time on maintaining existing code</li>
      </ul>

      <hr>

      <h3 class="heading-medium" id="3">Getting started</h3>

      <p><a href="#">Download GOV.UK Frontend code</a></p>

      <p><a href="#">Steps to get code running</a></p>

      <hr>

      <h3 class="heading-medium" id="4">Documentation</h3>

      <p><a href="#">View documentaton for GOV.UK Frontend</a></p>

      <p>Documentation includes:</p>

      <ul class="list list-bullet">
        <li>commands to get the code running</li>
        <li>how to run tests with the code</li>
        <li>code structure</li>
      </ul>

      <hr>

      <h3 class="heading-medium" id="5">Contact product team</h3>

      <p>GOV.UK Frontend is built and supported by a full time team at GDS.</p>

      <p>To contact the team email:</p>

      <p>govuk-frontend@digital.cabinet-office.gov.uk</p>

    </div>
  </div>

</main>

</body>

{% endblock %}


