{% extends "layout.html" %}

{% block page_title %}
  Product: GOV.UK Frontend
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="#">service manual</a>
    </li>
    <li>
      <a href="#">shared products</a>
    </li>
    <li>
      GOV.UK Frontend
    </li> 
  </ol>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge"><span class="design-pattern">Product
      <br></span>GOV.UK Frontend
      </h1>

    <br>

    <p class="design-update">
      Last updated: two weeks ago
    </h3>

    <br>
    <br>

  </div>
</div>

<div class="grid-row">
    <div class="column-one-third">

      <p class="bold">Page contents:</p>

      <ol class="list list-bullet pattern_nav">
        <li><a href="#1">what GOV.UK Frontend is</a></li>
        <li><a href="#2">why you should use GOV.UK Frontend</a></li>
        <li><a href="#3">getting started</a></li>
        <li><a href="#4">documentation</a></li>
        <li><a href="#5">contact product team</a></li>
      </ol>

      </div>

      <div class="column-two-thirds">

      <h3 class="heading-medium" id="1" style="margin-top: 0px;">What GOV.UK Frontend is</h3>

      <p> 
        GOV.UK Frontend is the code to build a service that looks and works like GOV.UK
      </p>

      <hr>

      <h3 class="heading-medium" id="1">Why you should use GOV.UK Frontend</h3>

      <p>You should use GOV.UK Frontend because it makes it simpler, faster, easier to build services that meet user needs.</p>

      <p>It also means you can:</p>

      <ul class="list list-bullet">
        <li>meet GOV.UK standard</li>
        <li>use code that is supported</li>
        <li>spend less time on maintaining existing code</li>
      </ul>

      <hr>

      <h3 class="heading-medium" id="3">Getting started</h3>

      <p><a href="#">Download GOV.UK Frontend code</a></p>

      <p><a href="#">Steps to get code running</a></p>

      <hr>

      <h3 class="heading-medium" id="4">Documentation</h3>

      <p><a href="#">View documentaton for GOV.UK Frontend</a></p>

      <p>Documentation includes:</p>

      <ul class="list list-bullet">
        <li>commands to get the code running</li>
        <li>how to run tests with the code</li>
        <li>code structure</li>
      </ul>

      <hr>

      <h3 class="heading-medium" id="5">Contact product team</h3>

      <p>GOV.UK Frontend is built and supported by a full time team at GDS.</p>

      <p>To contact the team email:</p>

      <p>govuk-frontend@digital.cabinet-office.gov.uk</p>

    </div>
  </div>

</main>

{% endblock %}


