{% extends "layout.html" %}

{% block page_title %}
  Design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Check-before-start patterns</h1>

      <p class="">Patterns for before you start to apply for or register something:</p>

      <ul class="list-bullet">

        <li><a href="/start-page">Check now</a></li>

        <li><a href="/show_rules">Showing rules</a></li>

        <li><a href="/to_do_list">To-do list</a></li>

    </div>
  </div>
</main>

{% endblock %}


